@import url(http://fonts.googleapis.com/css?family=Handlee);
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html { 
    background: url(../imgs/background2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  padding-top: 5%;
}

div#page-container {
  width: 80%;
  background-color: white;

  margin-left: auto; 
  margin-right: auto;
  padding-top: 20px;

  -moz-border-radius: 25px;
  border-radius: 25px;
}

div#header {
  padding: 0px;
}

div#menu {
  font-family: 'Handlee', cursive;
  color: white;
}

div#content {
  font-family: 'Antic Slab', cursive;
  min-height: 50%;
}

div#content p {
  font-size: 0.8em;
}

p.header, a.header {
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 5em;
  padding-top: 3px;
}

p#citazioni {
  font-family: 'Antic Slab', cursive;
  text-align: right;
  font-size: 1.8em;
}

div#citazioni-serrau {
  font-size: 7em;
}

a.header:hover {
  color: black;
  background-repeat: no-repeat;
  background-image: url("../imgs/flag-icon.png");
  background-position: left 80px bottom 20px;
}

p.title {
  font-size: 2em;
}

p.menu, a.menu {
  height: 3em;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: white;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

img.social {
  width: 50px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}