; @layout default
; @title  Presentada

<h2>{{&title}}</h2>

<p>Apu abettau incirca unu annu prima de agatai s'energia e sa gana de aberri unu logu pitticcheddu, aundi chistionai in Sardu e aundi piranciai de calichisiat cosas, mellus si no esti cosa de informatica, chi tengu giai <a href="http://skuro.tk">unu attru logu</a> aundi de disc&ugrave;rriri de computer.</p>

<p>Sa arrexioni poitta deu intendemmu si bisongiu de fai una cosa de aici est facili: sa limba Sarda est probabilmenti sa prus forti cosa chi ti podit fai intendi Sardu, e spezialmenti candu bivisi meras annus a fora de sa Sardigna (cosa chi est collegada con su titulu de custu blog) unu agattat s'abbisongiu de arremacciai is arrexinis suas. A sa fini, immoi deu sciu chistionai beni in duas limbas, s'Italianu e s'Ingresu, e mi seu imparendi un'attra puru, s'Olandesu. A no sciri sa limba chi determinat e definit totu is sardus fiat troppu brigungia, e non apu agattau perunu modu mellus de mi cimentai a dda scriri.</p>

<p>Si ddi fais prexeri de liggi cosas in Sardu, t'imbidu a mi sighiri in custas paginas. Si tenis puru gana de lassai calincunu cummentu, m'asi a fai cuntentu meda: a sa fini, deu bollu sceti de melliorai a chistionai in Sardu!</p>

<a href="http://www.flickr.com/photos/32107990@N03/4785632653/" title="DSC_0007 by skuro, on Flickr"><img src="http://farm5.staticflickr.com/4080/4785632653_5cc859070d.jpg" width="500" height="332" alt="DSC_0007"></a>
